/*Geral*/
* {
    padding: 0; /*tirar padding*/
    margin: 0;  /*tirar margem*/
    font-family: Helvetica; /*Fonte do projeto*/
    color: #333;
    box-sizing: border-box; /*Pros inputs não passarem da largura maximados elementos pais */
}
body {
    background-image: url("../img/Coffe.jpg");
    background-position: center; /*imagem no centro da tela*/
    background-size: cover; /*img se adpta a tela do user*/
}
button {
    background-color: #fdfdfd ;
    color: #4272a9;
    border: 2px solid #4272a9 ;
    padding: .3rem .6rem; /*deixa padrão para expandir em varias telas*/
    font-size: 1rem; /*tamanho da fonte se adapta*/
    cursor: pointer; /*para a mãozinha quando passar em cima de um botao/*/
    display: flex;
    justify-content: center;
    align-items: center; /*centralizar o icone do botao*/
    transition: 0.4s;
}

/*mudar cor e dentro do botão*/
button:hover {
    background-color: #4272a9;
    color: #fff;
}
button:hover > i {
    color: #fff;
}
button i {
    color: #4272a9;
    font-weight: bold;
    pointer-events: nome; /*Se clicar no ícone, é como se tiver clicando no botao*/ 
}
input, select {
    padding: 0.25rem 0.5rem;
}
.hide {
    display: nome;
}

/* cabeçalho todo*/
.todo-container {
    max-width: 450px; /* largura  */
    margin: 3rem auto; /* margem 3 do topo e  0 dos lados*/
    background-color: #fdfdfd; 
    padding: 1.5rem;  /* tirar elementos das extremidades*/
    border-radius: 15px; 
}
.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    /*border-bottom: 1px solid #ccc;*/
}
#todo-form, #edit-form { 
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
#todo-from p, #edit-form p { 
    margin-bottom: .5rem;
    font-weight: bold;
}
.form-control { 
    display: flex;
}
.form-control input{  
    margin-right: .3rem;
}
#cancel-edit-btn {
    margin-top: 1rem ; 
}

/* FIltro e campo de pequisa*/ 
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex; /* formulario de filtro e de pesquisa ficarem um do lado do outro*/
}
#toolbar h4 {
    margin-bottom: 5.rem;
}
#search {   
    border-right: 1px solid #ddd; 
    padding-right: 1rem; 
    margin-right: 1 rem;
    width:  65%;
    display: flex;
    flex-direction: column;
}
#search form {
    display: flex;
}
#search input {
    width: 100%;
    margin-right: 0.3rem;
}
#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}
#filter select {
    flex: 1; /*completar até o fim do espaço*/
}
.todo {
    display: flex;
    justify-content: space-around; /*espaça os ícones de botao*/
    align-items: center; /* centralizar os itens na vertical*/
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}
.todo h3 {
    flex: 1;
    font-size: .9rem;
}
.todo button {
    margin-left: 0.4rem; /*afastar todos os botoes*/
}
.done {
    background-color: #395169;
}
.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}
